<div class="row-fluid">
<div class="span2">
&nbsp;
</div>
<div class="span8">
<div class="page-header">
		<ul class="pull-right nav nav-pills">
			<li><%= link_to 'Show', @student %></li>
			<li><%= link_to 'Back', students_path %></li>
		</ul>
		<h1>Edit <%= @student.name %></h1>
	</div>

	<%= render 'form' %>
 </div>
</div>