<div class="row-fluid">
<div class="span2">
&nbsp;
</div>
<div class="span8">
<div class="page-header">
<h1>Register for the Early Highschool Graduation Registration Option</h1>
</div>
<%= render 'form' %>
</div>
</div>