<h2>Welcome</h2>

<p>Welcome to the online registration system for the The University of Texas at Austin Early Readiness High School Graduation Option.</p>

<p>Students in participating pilot districts may use this site to indicate interest in the early readiness diploma option.</p>

<p>Your use of this site gives us permission to:</p>

<ul>
<li>receive and process any placement test scores</li>
<li>share the results with your high school and school district for purposes of conferring your diploma</li>

<p>More information about the early readiness diploma option is available <a href="#">here</a>.

<p>Participation in this program does not guarantee admission to The University of Texas at Austin or any other institution.</p>

<%= link_to 'Get Started', 'register' %>