<div class="row-fluid">
<div class="span2">
&nbsp;
</div>
<div class="span8">
<h1>Welcome</h1>

<p>Welcome to the online registration system for the Early Readiness High School Graduation Option, which is administered by the <a href="http://ctl.utexas.edu/" target="_blank">Center for Teaching and Learning</a> at <a href="http://www.utexas.edu" target="_blank">The University of Texas at Austin</a> on behalf of UT Austin and <a href="http://www.tamu.edu/" target="_blank">Texas A&amp;M University</a>.</p>

<p>Students in participating pilot districts may use this site to indicate interest in the early readiness diploma option.</p>

<p>Your use of this site gives us permission to:</p>

<ul>
<li>receive and process any placement test scores</li>
<li>share the results with your high school and school district for purposes of conferring your diploma</li>
</ul>
<p>More information about the early readiness diploma option is available <a href="http://www.utexas.edu/ugs/teaching/crs/early-readiness-option" target="_blank">here</a>.

<p>Participation in this program does not guarantee admission to The University of Texas at Austin or Texas A&amp;M University.</p>
<div class="well">
<%= link_to 'Get Started', 'register', :class=>'btn btn-primary btn-large'%>
</div>
</div>
</div>