// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	
	float: left
}

.section_actions {
	width: 300px;
	margin-left: 100px;
}

.section_actions ul{
		list-style-type:none
		
}
		
.section_actions ul li{
			float: left;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 20px;
		}	
	

.clear{
	
	clear: both;
}